// App specific styles
// Use this file for your own style
// Version: 0.0.0 [pre alpha]


@charset "UTF-8";

// load all base building blocks
@import
	"base";

body {
	@if($theme == 'real') {
		background-image: url('/craglogger/assets/images/common/main-bg.jpg');
	}
	@else {
		background-image: url('/craglogger/assets/images/png/background.png');
		background-image: none, url('/craglogger/assets/images/svg/background.svg');
	}
	background-size: auto 100% ;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	html.no-backgroundsize & {
		@include background-size-fix();
	}
	@media #{$xlarge-up} {
		background-size: 100% auto;
	}
}
.container {
	@include rem-size('padding',10px);
	max-width: 95%;
	margin: 0 auto;
	background-color: #fff;
	background-color: rgba(#fff,0.8);
	border: 1px solid rgba(#cddee7,0.5);
	@media #{$medium-up} {
		@include rem-size('margin-top',30px);
		@include rem-size('padding',20px);
		max-width: none;
		text-align: left;
	}
	@media #{$large-up} {
		max-width: 1140px;
	}
}

header hgroup {
	@include clearfix();
	@include rem-size('padding', 10px 20px);
	background-color: #fdfdfd;
	h1 {
		@include font-size(20);
		margin: 0;
		@media #{$medium-up} {
			@include inline-block();
			float: left;
		}
	}
	p {
		@media #{$medium-up} {
			@include inline-block();
			margin: 0;
			float: right;
		}
	}
}

header nav {
	display: none;
	background-color: #1183b9;
	@media #{$medium-up} {
		display: block;
		@include rem-size('padding', 10px 20px);
		ul {
			margin: 0;
			padding: 0;
			li {
				@include inline-block();
				a {
					display: block;
					@include rem-size('padding', 3px 10px);
					@include border-radius($radius);
					background-color: #fff;
				}
			}
		}
	}
}

.slicknav_menu {
	display: block;
	@media #{$medium-up} {
		display: none;
	}
}

div[role="content"] {
	@include rem-size('padding', 20px 0);
	@media #{$medium-up} {
		@include rem-size('padding', 50px 0);
	}
	@media #{$large-up} {
		@include rem-size('padding', 75px 0);
	}
}

footer {
	background-color: #cddee7;
	@include rem-size('padding', 10px 20px);
	p {
		margin: 0;
		@include font-size(14);
	}
}