// App specific styles
// Use this file for your own style
// Version: 0.0.0 [pre alpha]

@charset "UTF-8";

// load all base building blocks

@import "base";

body {
	@if $theme == "real" {
		background-image: url("/craglogger/assets/images/common/main-bg.jpg");
	}
	@else {
		background-image: url("/craglogger/assets/images/png/background.png");
		background-image: none, url("/craglogger/assets/images/svg/background.svg");
	}
	background-size: auto 100%;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	html.no-backgroundsize & {
		@include background-size-fix;
	}
	@media #{$xlarge-up} {
		background-size: 100% auto;
	}
}

.wrap {
	background-color: #fff;
	background-color: rgba(white, 0.8);
	@include row;
	padding: 0 !important;
	@media #{$large-up} {
		@include rem-size("margin-top", 70px);
	}
}

header hgroup {
	background-color: #fdfdfd;
	@include row;
	h1 {
		@include font-size(20);
		margin: 0;
		a {
			color: #005686;
		}
		@media #{$medium-up} {
			@include inline-block;
			float: left;
		}
	}
	p {
		@media #{$medium-up} {
			@include inline-block;
			margin: 0;
			float: right;
		}
	}
}

header nav {
	display: none;
	background-color: #1183b9;
	@media #{$screen} and (min-width: 901px) {
		display: block;
		@include rem-size("padding", 10px);
		ul {
			margin: 0;
			padding: 0;
			li {
				@include inline-block;
				a {
					display: block;
					@include rem-size("padding", 3px 10px);
					@include border-radius($radius);
					background-color: #005686;
					color: #fff !important;
				}
			}
		}
	}
}

.slicknav_menu {
	display: block;
	@media #{$screen} and (min-width: 901px) {
		display: none;
	}
}

div[role="content"] {
	@include row;
	@include rem-size("padding", 20px 0);
	@media #{$medium-up} {
		@include rem-size("padding", 50px 0);
	}
	@media #{$large-up} {
		@include rem-size("padding", 75px 0);
	}
}

footer {
	@include row;
	background-color: #cedee7;
	p {
		margin: 0;
		@include font-size(14);
	}
}