{% extends "base.tmpl" %}

{% set page_class = 'admin' %}

{% block class %}
 class="{{page_class}}" 
{% endblock %}

{% block content %}
<h1>Admin Tools</h1>
<ul class="three_up tiles">
	<li>
<h2>Manage Crags</h2>
<ul>
	<li>
		<a href="/craglogger/admin/cragcreate.php">Add new crag</a>
	</li>
	<li>
		<a href="/craglogger/admin/cragupdate.php">Update crag</a>
	</li>
</ul>
	</li>
	<li>
<h2>Manage Visits</h3>
<ul>
	<li>
		<a href="/craglogger/admin/cragvisitcreate.php">Add a crag visit</a>
	</li>
	<li>
		<a href="/craglogger/admin/updatevisit.php">Update a visit</a>
	</li>
</ul>
	</li>
	<li>
<h2>Account Actions</h3>
<ul>
	<li>
		<a href="/craglogger/admin/approveaccount.php">Approve member account</a>
	</li>
	<li>
		<a href="/craglogger/admin/createvirtualuser.php">Add a virtual member</a>
	</li>
</ul>
	</li>
</ul>
{% endblock %}
