{% extends "base.tmpl" %}

{% block content %}
<h1>Admin Tools</h1>
<h2>Add new a crag/visit</h2>
<ul>
	<li>
		<a href="/craglogger/admin/cragcreate.php">Add a new crag</a>
	</li>
	<li>
		<a href="/craglogger/admin/cragvisitcreate.php">Add a crag visit</a>
	</li>
</ul>
<h2>Update an exisiting crag/visit</h3>
<ul>
	<li>
		<a href="/craglogger/admin/cragupdate.php">Update a crag</a>
	</li>
	<li>
		<a href="/craglogger/admin/updatevisit.php">Update a visit</a>
	</li>
</ul>
<h2>Account Actions</h3>
<ul>
	<li>
		<a href="/craglogger/admin/approveaccount.php">Approve member account</a>
	</li>
</ul>
{% endblock %}
