{% extends "base.tmpl" %}

{% set page_class = 'admin approve-account' %}

{% block class %}
 class="{{page_class}}" 
{% endblock %}

{% block content %}
<h2>Accounts for approval</h2>
<table>
	<tr class="heading">
		<td>ID</td>
		<td>Firstname</td>
		<td>Surname</td>
		<td>Email</td>
		<td>Action</td>
	</tr>
	{% for na in needapproval %}
	<form method="post" action="{{ php_self }}">
		<input type="hidden" name="user_id" value="{{ na.user_id|escape }}"</td>
		<input type="hidden" name="email" value="{{ na.email|escape }}"</td>
		<input type="hidden" name="firstname" value="{{ na.firstname|escape }}"</td>
		<input type="hidden" name="surname" value="{{ na.surname|escape }}"</td>
		<tr>
			<td> <b>{{ na.user_id|escape }}</b></td>
			<td>{{ na.firstname|escape}}</td>
			<td>{{ na.surname|escape}}</td>
			<td>{{ na.email|escape}}</td>
			<td>
				<input type="submit" name="submit" value="Approve"></td>
		</form>
		{% endfor %}
	</tr>
</table>
<h2>Virtual Members</h2>
<table>
        <tr class="heading">
                <td>ID</td>
                <td>Firstname</td>
                <td>Surname</td>
                <td>Nickname</td>
                <td>Email</td>
        </tr>
        {% for v in virtualmember %}
        <form method="post" action="{{ php_self }}">
                <tr>
                        <td> <b>{{ v.user_id|escape }}</b></td>
                        <td>{{ v.firstname|escape}}</td>
                        <td>{{ v.surname|escape}}</td>
                        <td>{{ v.nickname|escape}}</td>
                        <td>{{ v.email|escape}}</td>
                </form>
                {% endfor %}
        </tr>
</table>
<hr>
<h2>All Accounts</h2>
<table>
	<tr class="heading">
		<td>ID</td>
		<td>Firstname</td>
		<td>Surname</td>
		<td>Nickname</td>
		<td>Email</td>
		<td>Admin</td>
		<td>Approved</td>
		<td>Action</td>
	</tr>
	{% for fd in fulldata %}
	<form method="post" action="{{ php_self }}">
		<input type="hidden" name="user_id" value="{{ fd.user_id|escape }}"</td>
		<tr>
			<td> <b>{{ fd.user_id|escape }}</b></td>
			<td>{{ fd.firstname|escape}}</td>
			<td>{{ fd.surname|escape}}</td>
			<td>{{ fd.nickname|escape}}</td>
			{% if fd.virtualuser != 1 %}
			<td>{{ fd.email|escape}}</td>
			{% else %}
			<td></td>
			{% endif %}
			<td>
				<select name="admin">
					{% if fd.admin == 1 %}
					<option value="1" selected>Yes</option>
					<option value="0">No</option>
					{% else %}
					<option value="1">Yes</option>
					<option value="0" selected>No</option>
					{% endif %}
				</select>
			</td>
			<td>
				<select name="approved">
					{% if fd.approved == 1 %}
					<option value="1" selected>Yes</option>
					<option value="0">No</option>
					{% else %}
					<option value="1">Yes</option>
					<option value="0" selected>No</option>
					{% endif %}
				</select>
			</td>
			<td>
				<input type="submit" name="submitupdate" value="Update"></td>
		</form>
		{% endfor %}
	</tr>
</table>
{% endblock %}
