{% extends "base.tmpl" %}

{% set page_class = 'admin crag-create' %}

{% block class %}
 class="{{page_class}}" 
{% endblock %}

{% block content %}
<div class="row">
	<div class="centered eight columns">
		<h1>Add a new crag</h1>
		<form action="{{ php_self }}" method="post">
			<div class="field">
				<label for="venue">
					Crag name <i>(stanage)</i>
				</label>
				<input type="text" name="venue" id="venue" value="" />
			</div>
			<div class="field">
				<label for="area">
					Crag area <i>(popular)</i>
				</label>
				<input type="text" name="area" id="area" value="" />
			</div>
			<div class="field">
				<label for="rock">Rock type:</label>
				<input type="text" name="rock" id="rock" value="" />
			</div>
			<div class="field">
				<label for="country">Country:</label>
				<input type="text" name="country" id="country" value="" />
			</div>
			<div class="field">
				<label for="county">County:</label>
				<input type="text" name="county" id="county" value="" />
			</div>
			<div class="field">
				<label for="altitude">Altitude:</label>
				<input type="text" name="altitude" id="altitude" value="" />
			</div>
			<div class="field">
				<label for="faces">Faces:</label>
				<input type="text" name="faces" id="faces" value="" />
			</div>
			<div class="field">
				<label for="web">Web:</label>
				<input type="url" name="web" id="web" value="" />
			</div>
			<div class="field">
				<label for="lat">Latitude:</label>
				<input type="text" name="lat" id="lat" value="" />
			</div>
			<div class="field">
				<label for="lng">Longtiude:</label>
				<input type="text" name="lng" id="lng" value="" />
			</div>
			<input type="submit" value="Add the Crag" />
		</form>
	</div>
</div>
{% endblock %}