{% extends "base.tmpl" %}

{% set page_class = 'admin crag-report' %}

{% block class %}
 class="{{page_class}}" 
{% endblock %}

{% block content %}
<h1>Add a crag report for {{venue}} {{area}} - {{date|date ('d M Y')}}</h1>
<form action="{{php_self}}" method="post">
	<input type="hidden" name="cragvisit_id" value="{{ cragvisit_id|escape }}"/>
	<div>
		<label for="report">Report:</label>
		<br />
		{% if success == 1 %}
			{{cragreport}}<br/><br/>
<hr>
			<a href="cragreportedit.php?cragvisit_id={{cragvisit_id}}">edit this report</a>
		{% else %}
			<textarea name="report" id="report" cols="80" rows="20" >{{cragreport}}</textarea>
		{% endif %}
	</div>
		{% if success != 1 %}
	<input type="submit" name="submit" value="Submit Edit" />
		{% endif %}
</form>
{% if success == 1%}
<p>
	<i>
		<b>Thank you, crag report has been edited</b>
	</i>
</p>
{% endif %}
{% endblock %}
