{% extends "base.tmpl" %}

{% block content %}
	<fieldset>
<h1>Add a crag report for {{venue}} {{area}} - {{date|date ('d M Y')}}</h1>
<form action="{{php_self}}" method="post">
<input type="hidden" name="cragvisit_id" value="{{ cragvisit_id|escape }}"/>
	<fieldset>
		<legend>Add report for this visit</legend>
		<div>
			<label for="report">Report:</label>
			<br />
			{% if success == 1 %}
			{{cragreport}}
			<a href="editcragreport.php">edit this report</a>
			{% else %}
			<textarea name="report" id="report" cols="80" rows="20" ></textarea>
			{% endif %}
		</div>
	</fieldset>
	<input type="submit" name="submit" value="Add this report" />
</form>
{% if success == 1%}
<i><b>Thank you, crag report has been added</b></i>
{% endif %}
{% endblock %}
