{% extends "base.tmpl" %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
<h1>Add a new crag</h1>
<form action="{{php_self}}" method="post">
    Crag name <i>(stanage)</i><br />
    <input type="text" name="venue" value="" />
    <br /><br />
    Crag area <i>(popular)</i><br />
    <input type="text" name="area" value="" />
    <br /><br />
    Rock type:<br />
    <input type="text" name="rock" value="" />
    <br /><br />
    Country:<br />
    <input type="text" name="country" value="" />
    <br /><br />
    County:<br />
    <input type="text" name="county" value="" />
    <br /><br />
    Altitude:<br />
    <input type="text" name="altitude" value="" />
    <br /><br />
    Faces:<br />
    <input type="text" name="faces" value="" />
    <br /><br />
    Web:<br />
    <input type="url" name="web" value="" />
    <br /><br />
    Latitude:<br />
    <input type="text" name="lat" value="" />
    <br /><br />
    Longtiude:<br />
    <input type="text" name="lng" value="" />
    <br /><br />
    <input type="submit" value="Add the Crag" />
</form>
{% endblock %}
