{% extends "base.tmpl" %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h2>Crag Details Update</h2>
    <table>
      <tr class="heading">
        <td>Venue</td>
        <td>Area</td>
        <td>Rock</td>
        <td>Country</td>
        <td>County</td>
        <td>Altitdue</td>
        <td>Direction</td>
        <td>Web</td>
        <td>Lat</td>
        <td>Long</td>
      </tr> 

      {% for d in data %}
	<form method="post" action="{{ php_self }}">
        <input type="hidden" name="cragdetail_id" value="{{ d.cragdetail_id|escape }}"</td>
       <tr>
        <td><input type="text" name="venue" value="{{ d.venue|escape }}"</td>
        <td><input type="text" name="area" value="{{ d.area|escape }}"</td>
        <td><input type="text" name="rock" value="{{ d.rock|escape }}"</td>
        <td><input type="text" name="country" value="{{ d.country|escape }}"</td>
        <td><input type="text" name="county" value="{{ d.county|escape }}"</td>
        <td><input type="text" name="altitude" value="{{ d.altitude|escape }}"</td>
        <td><input type="text" name="faces" value="{{ d.faces|escape }}"</td>
        <td><input type="text" name="web" value="{{ d.web|escape }}"</td>
        <td><input type="text" name="lat" value="{{ d.lat|escape }}"</td>
        <td><input type="text" name="lng" value="{{ d.lng|escape }}"</td>
        <td><input type="submit" name="submit" value="Update Crag"></td>
		</form>
      	{% endfor %}
	 </tr>
        </table>
{% endblock %}
