{% extends "base.tmpl" %}

{% block title %}{{pageTitle}}{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h2>Who has been where in 2014</h2>
    <table>
      <tr class="heading">
        <td>Date</td>
      {% for d in data %}
	<td>{{ d.date|date("d M Y") }}</td>
      {% endfor %}
      </tr> 
      <tr class="heading">
      <tr class="heading">
        <td>Venue</td>
      {% for d in data %}
	<td><a href="cragdetail.php?cragvisit_id={{d.cragvisit_id}}">{{ d.venue|escape }} {{d.area}}</a></td>
      {% endfor %}
      </tr> 
      <tr class="heading">
        <td>Rock</td>
      {% for d in data %}
	<td>{{ d.rock }}</td>
      {% endfor %}
      </tr> 
<tr>
<td>Member</td>
</tr>

      {% for m in member %}
      <tr class="heading">
	<td>{{ m.firstname }} {{m.surname}}</td>

	{% for d in data %}
	<td>
		{% set has_attended_this_crag = 0 %}

		{% for a in attended %}
			{% if a.user_id == m.user_id and a.cragvisit_id == d.cragvisit_id %}
				{% set has_attended_this_crag = 1 %}
			{% endif %}
      		{% endfor %}

		{% if has_attended_this_crag == 1 %}
			Yes!!!!
		{% else %}
			NO
		{% endif %}
	</td>
{% endfor %}
      </tr>
      {% endfor %}
       </table>

       <table>
	<tr>
        <br>
	 </tr>
        </table>
{% endblock %}
