{% extends "base.tmpl" %}

{% block content %}
<h1>Register</h1>
<form action="{{ php_self }}" method="post">
	<div>
		<label for="firstname">Your firstname:</label>
		<br/>
		<input type="text" name="firstname" id="firstname" value="" />
	</div>

	<div>
		<label for="surname">Your surname:</label>
		<br/>
		<input type="text" name="surname" id="surname" value="" />
	</div>

	<div>
		<label for="username">Your username (used to login to the site):</label>
		<br/>
		<input type="text" name="username" id="username" value="" />
	</div>

	<div>
		<label for="email">Your email</label>
		<br/>
		<input type="text" name="email" id="email" value="" />
	</div>

	<div>
		<label for="emailshow">
			<input type="checkbox" name="emailshow" id="emailshow" value="1" checked/>
			<br/> <i>(check to allow other members to see your email address)</i>
		</label>
	</div>

	<div>
		<label for="password">Choose password:</label>
		<br/>
		<input type="password" name="password" id="password" value="" />
	</div>

	<div>
		<input type="submit" value="Register" />
	</div>
</form>
{% endblock %}