{% extends "base.tmpl" %}

{% set page_class = 'register' %}

{% block class %}
 class="{{page_class}}" 
{% endblock %}

{% block content %}
<h1>Register</h1>
<form action="{{ php_self }}" method="post">
	<div class="field{% if errFirstname %} error{% endif %}">
		<label for="firstname">Your firstname:</label>
		<input type="text" name="firstname" id="firstname" value="" />
		<b class="error--message">{{errFirstname}}</b>
	</div>

	<div class="field{% if errSurname %} error{% endif %}">
		<label for="surname">Your surname:</label>
		<input type="text" name="surname" id="surname" value="" />
		<b class="error--message">{{errSurname}}</b>
	</div>

	<div class="field{% if errUsername %} error{% endif %}">
		<label for="username">Your username (used to login to the site):</label>
		<input type="text" name="username" id="username" value="" />
		<b class="error--message">{{errUsername}}</b>
	</div>

	<div class="field{% if errEmail %} error{% endif %}">
		<label for="email">Your email</label>
		<input type="text" name="email" id="email" value="" />
		<b class="error--message">{{errEmail}}</b>
	</div>

	<div>
		<label for="emailshow">
			<input type="checkbox" name="emailshow" id="emailshow" value="1" checked/>
			<i>(check to allow other members to see your email address)</i>
		</label>
	</div>

	<div class="field{% if errPassword %} error{% endif %}">
		<label for="password">Choose password <i>(6 characters or more)</i>:</label>
		<input type="password" name="password" id="password" value="" />
		<b class="error--message">{{errPassword}}</b>
	</div>

	<div>
		<input type="submit" value="Register" />
	</div>
</form>
{% endblock %}
