{% extends "base.tmpl" %}

{% set page_class = 'therules' %}

{% block class %}
 class="{{page_class}}" 
{% endblock %}

{% block title %}{{pageTitle}}{% endblock %}

{% block content %}

	<b>The Rules</b>
	<table class="flexitable">
	<tr>
	<td>
	<table class="flexitable">
	<tr>
		<td><b>Rule #1 // No rules</b> <br/>
		<small>There are NO RULES, the only exception to this rule are following rules which must be strictly followed in fear of breaching rule 1.</small></td>
	</tr>
	</table>
	<table class="flexitable">
	<tr>
		<td><b>Rule #2 // Tradition is key</b> <br/>
		<small>Tradition always rules over sense and any other thought process how ever convincing.</small></td>
	</tr>
	</table>
	<table class="flexitable">
	<tr>
		<td><b>Rule #3 // Style matters</b> <br/>
		<small>Although style is as important as Tradition see rule #2 it is not always necessary (see Seth for details of the latter).</small></td>
	</tr>
	</table>
	<table class="flexitable">
	<tr>
		<td><b>Rule #4 // Monica's are to be kept off the crag</b> <br/>
		<small>The uses of a ‘single’ or ‘double’ <a href="http://en.wikipedia.org/wiki/Lewinsky_scandal">Monica</a> are discouraged, unless you are the President of the USA.</small></td>
	</tr>
	</table>
	<table class="flexitable">
	<tr>
		<td><b>Rule #5 // Tuesdays are for climbing</b> <br/>
		<small>Turning up to the crag having left one’s “gear” at home/car is no excuse not to climb see rule #6 & rule #7</small></td>
	</tr>
	</table>
	<table class="flexitable">
	<tr>
		<td><b>Rule #6 // Alternative rope skills</b> <br/>
		<small><a href="http://www.wikihow.com/Tie-a-Swiss-Seat-Rappel-Harness">Waist harness</a> are to be applied as an alternative to early pub points.  See rule #5. </small></td>
	</tr>
	</table>
	<table class="flexitable">
	<tr>
		<td><b>Rule #7 // Shoes are not always your own</b> <br/>
		<small>Sharing of your partners climbing shoes is acceptable, however it is your responsibility to carry out prior medical checks.</small></td>
	</tr>
	</table>
	<table class="flexitable">
	<tr>
		<td><b>Rule #8 // Langauage is to be controlled</b> <br/>
		<small>However exicited/scared you are, swearing loudly at the crag or belayer is only allowed if you are the owner of a highly regarded Peak based Outside retail business OR about to claim air miles.</small></td>
	</tr>
	</table>
	<table class="flexitable">
	<tr>
		<td><b>Rule #9 // Rain doesn't always stop play, but it probably should</b> <br/>
		<small>Rain stop play status is only given if it has been deemed by 1 or more people that the crag is unquestionably damp which will only result in "desperation climbing".  Only 59 instances of Rule #9 have been given since 1991, so be prepared to defend your choice.</small></td>
	</tr>
	</table>
	<table class="flexitable">
	<tr>
		<td><b>Rule #10 // Ground hog day</b> <br/>
		<small>If Rain stop play has been granted then the following weeks venue will be a repeat of crag and preferable not the weather.  Only rule #13b supersedes this</small></td>
	</tr>
	</table>
	<table class="flexitable">
	<tr>
		<td><b>Rule #11 // Its about tradition, got it!</b> <br/>
		<small>Not logging ones attendance on craglogger is in direct violation of rule #2</small></td>
	</tr>
	</table>
	<b>Voting</b>
	<table class="flexitable">
	<tr>
		<td><b>Rule #12 // Voters must be present</b> <br/>
		<small>Votes will only be counted from those who touched rock AND are present at the offical Vote collection, this is very strictly monitored</small></td>
	</tr>
	</table>
	<table class="flexitable">
	<tr>
		<td><b>Rule #13b // Tradition, Tradition, Tradition</b> <br/>
		<small>When tradition dictates otherwise</small></td>
	</tr>
	</table>
	<table class="flexitable">
	<tr>
		<td><b>Rule #14 // Oratory is to be respected</b> <br/>
		<small>Under no circumstances should there be any negative oratory to deflect against the proposed crags unless the proposed crag is crap.</small></td>
	</tr>
	</table>
	</td>
	</tr>
	</table>
{% endblock %}
