{% extends "base.tmpl" %}
{% if year == '2014' %}
	{% set page_class = 'crag-stats' %}
{% else %}
	{% set page_class = 'visit-archive' %}
{% endif %}

{% block class %}
 class="{{page_class}}" 
{% endblock %}

{% block content %}
<h1>Crag Stats {{year}}</h1>
{% if weeksleft != '' %}
<i>{{weeksleft}} glorious weeks of summer left, get out there.</i>
{% endif %}
<br/>
{% if year != '2014' %}
<table class="cragattendance flexitable">
        <tr>
                <th scope="row" class="visit" valign="middle">Years Available</th>
                {% for y in years %}
                <th>
                <td><a href="cragstats.php?year={{y.year}}">{{y.year}}</a></td>
                </th>
                {% endfor %}
        </tr>
</table>
<a href="visitarchive.php?year={{year}}">Return to visit archive</a>
<hr/>
{% endif %}
<br/>
<h3>Visit Stats</h3>
<table class="flexitable">
        <tr>
                <th>Attempted visits</th>
                <th>Rainedoff</th>
                <th>Successful visits</th>
                <th>Successful visits %</th>
                <th>Rained off %</th>
        </tr>
        {% for y in yearstats %}
        <tr>
                <td data-th="Name">{{ y.attempts }}</td>
                <td data-th="Visits">{{ y.rainedoff }}</td>
                <td data-th="Visits">{{ y.actual }}</td>
                <td data-th="Visits">{{ y.percentvisited }}%</td>
                <td data-th="Visits">{{ y.percentraindedoff }}%</td>
        </tr>
        {% endfor %}
</table>
<h3>Top Attenders</h3>
<table class="flexitable">
	<tr>
		<th>Name</th>
		<th>Visits</th>
		<th>Attendence %</th>
	</tr>
	{% for d in data %}
	<tr>
		<td data-th="Name">{{ d.firstname }} {{d.surname}}</td>
		<td data-th="Visits">{{ d.count }}</td>
		<td data-th="Visits">{{ d.percent }}%</td>
	</tr>
	{% endfor %}
</table>

<h3>Top 3 Attended Crags</h3>
<table class="flexitable">
	<tr>
		<th>Date</th>
		<th>Crag</th>
		<th>Visits</th>
	</tr>
	{% for a in attendedcrag %}
	<tr>
		<td data-th="Date">{{ a.date|date ('d F Y') }}</td>
		<td data-th="Crag"><a href="cragdetail.php?cragvisit_id={{a.cragvisit_id|escape}}">{{ a.venue }} {{a.area}}</a></td>
		<td data-th="Visits">{{ a.count }}</td>
	</tr>
	{% endfor %}
</table>
<h3>Rock Types</h3>
<table class="flexitable">
	<tr>
		<th>Rock</th>
		<th>Visits</th>
		<th>Split</th>
	</tr>
        {% for rt in rocktype %}
        <tr>
                <td>{{rt.rock|escape}}</td>
                <td>{{rt.split|escape}}</td>
                <td>{{rt.percent|escape}}%</td>
        </tr>
        {% endfor %}
</table>
<h3>Counties Visited</h3>
<table class="flexitable">
        <tr>
                <th>County</th>
                <th>Visits</th>
                <th>Split</th>
        </tr>
        {% for co in counties %}
        <tr>
                <td>{{co.county|escape}}</td>
                <td>{{co.split|escape}}</td>
                <td>{{co.percent|escape}}%</td>
        </tr>
        {% endfor %}
</table>
{% endblock %}
