{% extends "base.tmpl" %}

{% block content %}
<h1>Crag Stats 2014</h1>
<ul>
	<li>Total crags visited: <b>{{ data|length }}</b></li>
	<li>Crag with most visits crag: <b>{{ data|length }}</b></li>
	<li>Most visited pub: <b>{{ data|length }}</b></li>
	<li>Top 5 Tuesday Nighters: <b>{{ data|length }}</b></li>
</ul>
{% endblock %}