{% extends "base.tmpl" %}

{% set page_class = 'user-account' %}

{% block class %}
 class="{{page_class}}" 
{% endblock %}

{% block content %}
<h1>My Account</h1>
<form action="{{php_self}}" method="post">
	<div class="field{% if errFirstname %} error{% endif %}">
		<label for="firstname"><b>Your firstname:</b></label>
		<input type="text" name="firstname" id="firstname" value="{{firstname}}" />
		<b class="error--message">{{errFirstname}}</b>
	</div>

	<div class="field{% if errSurname %} error{% endif %}">
		<label for="surname"><b>Your surname:</b></label>
		<input type="text" name="surname" id="surname" value="{{surname}}" />
		<b class="error--message">{{errSurname}}</b>
	</div>

	<div class="field{% if errNickname %} error{% endif %}">
		<label for="email"><b>Nickname:</b></label><small>This will show as <b>{{firstname}} {{surname}} {% if nickname %}<small><i>({{nickname}})</small></i>{% endif %}</b> leave blank if you don't want one</small>
		<input type="text" name="nickname" id="nickname" value="{{nickname}}" />
		<b class="error--message">{{errEmail}}</b>
	</div>

	<div class="field{% if errEmail %} error{% endif %}">
		<label for="email"><b>Your email:</b></label>
		<input type="text" name="email" id="email" value="{{email}}" />
		<b class="error--message">{{errEmail}}</b>
	</div>
	<div>
		Allow other members to see your email address:
		{% if emailshow == 1 %}
		<input type="checkbox" name="emailshow" value="1" checked>
		<small>yes</small>
		{% else %}
		<input type="checkbox" name="emailshow">
		<small>no</small>
		{% endif %}
	</div>
<br/>
	<div class="field">
		<label for="password"><b>Password:</b></label><small>Leave blank if you do not want to change your password</small>
		<input type="password" name="password" id="password" value="" />
	</div>



	<input type="submit" name="submit" value="Update Account" />
	<div class="field">
<p><br/><b>{{editaccount}}</b></p>
</div>



</form>

{% endblock %}
