{% extends "base.tmpl" %}

{% set page_class = 'members' %}

{% block class %}
 class="{{page_class}}" 
{% endblock %}

{% block content %}
<h1>Memberlist</h1>
<table class="flexitable">
	<tr>
		<th>Username</th>
		<th>e-mail</th>
		<th>Member Status</th>
	</tr>
	{% for m in members %}
	<tr>
		<td data-th="Username">{{ m.firstname }} {{m.surname}} {% if m.nickname %}<small><i>({{m.nickname}})</small></i>{% endif %}</td>
		{% if m.emailshow == 1 %}
		<td data-th="e-mail">{{ m.email }}</td>
		{% else %}
		<td data-th="e-mail"></td>
		{% endif %}

		<td data-th"Member Status">
		{% if m.virtualuser == 1 %}
		<small>Virtual Member</small>
		{% else %}
		<small>Full</small>
		{% endif%}
		</td>
	</tr>
	{% endfor %}
	<tr>
		<th>Total Members</th>
		<td data-th="Total Members">{{ members|length}}</td>
		<td></td>
	</tr>
</table>
{% endblock %}
