{% extends "base.tmpl" %}

	{% set page_class = 'my-stats' %}

{% block class %}
 class="{{page_class}}" 
{% endblock %}

{% block content %}
<h1>My All Time Stats</h1>
{% if weeksleft != '' %}
<i>{{weeksleft}} glorious weeks of summer left, get out there.<br/><br/></i>
{% endif %}
{% if year != '2014' %}
{% endif %}
<h3>My Yearly Visits</h3>
<table class="flexitable">
        <tr>
                <th>Year</th>
                <th>My Visits</th>
                <th>Total Venues</th>
                <th>% Visited</th>
        </tr>
        {% for tv in totalvisits %}
        <tr>
                <td data-th="Name">{{ tv.year|escape }}</td>
                <td data-th="Visits">{{ tv.myvisits|escape }}</td>
                <td data-th="Attempts">{{ tv.attempts|escape }}</td>
                <td data-th="Visits">{{ tv.percent|escape }}%</td>
        </tr>
        {% endfor %}
</table>
<h3>My Visits by Month</h3>
<table class="flexitable">
        <tr>
                <th>Month</th>
                <th>My Visits</th>
        </tr>
        {% for mv in monthvisits %}
        <tr>
                <td data-th="Name">{{ mv.monthname|escape }}</td>
                <td data-th="Visits">{{ mv.myvisits|escape }}</td>
        </tr>
        {% endfor %}
</table>
<h3>My Visited Crags</h3>
<table class="flexitable">
	<tr>
		<th>Venue</th>
		<th>My Visits</th>
	</tr>
	{% for d in data %}
	<tr>
		<td data-th="Name">{{ d.venue }} {{d.area}}</td>
		<td data-th="Visits">{{ d.count }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
