{% extends "base.tmpl" %}

{% set page_class = 'crag-visit' %}

{% block class %}
 class="{{page_class}}" 
{% endblock %}

{% block content %}
<h1>Tuesday Nighters Archive</h1>
Choose the year you want to view
<table class="cragattendance flexitable">
	<tr>
		<th scope="row" class="visit" valign="middle">Years Available</th>
		{% for y in years %}
		<th>
		<td><a href="visithistory.php?year={{y.year}}">{{y.year}}</a></td>
		</th>
		{% endfor %}
		</tr>
</table>
<table class="cragattendance flexitable">
	<tr>
		<th scope="row" class="visit" valign="middle">Visit</th>
		{% for d in data %}
		<th>
			<a href="/craglogger/dashboard/cragdetail.php?cragvisit_id={{d.cragvisit_id}}">{{ d.venue|escape }} {{d.area}}</a>
			<br/>
			{{ d.date|date("d M Y") }}
			<br/>
			{{ d.rock }}
		</th>
		{% endfor %}
	</tr>
	{% for m in member %}
	<tr>
		<td data-th="Cragger" class="cragger">{{ m.firstname }} {{m.surname}}</td>
		{% for d in data %}
			{% set has_attended_this_crag = 0 %}
			{% for a in attended %}
				{% if a.user_id == m.user_id and a.cragvisit_id == d.cragvisit_id %}
					{% set has_attended_this_crag = 1 %}
				{% endif %}
			{% endfor %}
			<td data-th="{{ d.venue|escape }} {{d.area}} - {{ d.date|date("d M Y") }} - {{ d.rock }}">
				{% if has_attended_this_crag == 1 %}
					<span class="yes">YES</span>
				{% else %}
					<span class="no">NO</span>
				{% endif %}
			</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{% endblock %}
