{% extends "base.tmpl" %}

{% set page_class = 'visit-archive' %}

{% block class %}
 class="{{page_class}}" 
{% endblock %}

{% block content %}
<h1>Tuesday Nighters Archive {{viewyear|escape}} {{monthname|escape}}</h1>
Choose the year you want to view
<table class="cragattendance flexitable">
	<tr>
		<th scope="row" class="visit" valign="middle">Years Available</th>
		{% for y in years %}
		<th>
		<td><a href="visitarchive.php?year={{y.year}}">{{y.year}}</a></td>
		</th>
		{% endfor %}
		</tr>
</table>
<hr/>
{% if viewyear != '' %}
<table class="cragattendance flexitable">
	<tr>
		<th scope="row" class="visit" valign="middle">
			View Crag Stats for <a href="cragstats.php?year={{viewyear}}">{{viewyear}}</a>
		</th>
	</tr>
</table>
<table class="cragattendance flexitable">
<tr>
<th scope="row" class="visit" valign="middle">Choose a month to see who was there.</th>
{% for mon in months %}
<th>
<td><a href="visitarchive.php?month={{mon.monthnum}}&year={{viewyear}}">{{mon.monthname|escape}}</a></td>
</th>
{% endfor %}
</tr>
</table>
{% if viewmonth != '' %}
<table class="cragattendance flexitable">
	<tr>
		<th scope="row" class="visit" valign="middle">Visit</th>
		{% for d in data %}
		<th>
			<a href="/craglogger/dashboard/cragdetail.php?cragvisit_id={{d.cragvisit_id}}">{{ d.venue|escape }} {{d.area}}</a>
			<br/>
			{{ d.date|date("d F Y") }}
			<br/>
			<small>{{ d.event }}</small>
			{% if d.rainedoff == 1 %}
                        <small>Rain stop play</small>
                        {% endif %}
		</th>
		{% endfor %}
	</tr>
	{% for m in member %}
	<tr>
		<td data-th="Cragger" class="cragger">{{ m.firstname }} {{m.surname}}</td>
		{% for d in data %}
			{% set has_attended_this_crag = 0 %}
			{% for a in attended %}
				{% if a.user_id == m.user_id and a.cragvisit_id == d.cragvisit_id %}
					{% set has_attended_this_crag = 1 %}
				{% endif %}
			{% endfor %}
			<td data-th="{{ d.venue|escape }} {{d.area}} - {{ d.date|date("d M Y") }} - {{ d.rock }}">
				{% if has_attended_this_crag == 1 %}
					<span class="yes">YES</span>
				{% else %}
					<span class="no">NO</span>
				{% endif %}
			</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
{% endif %}
{% endif %}
{% endblock %}
